<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>首页</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="http://s.vpea.ca/sprite/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="http://s.vpea.ca/sprite/favicon.ico">
</head>

<body>

  <div class="grid-page">

    <div class="grid-header">
      <%= require('html-loader!./g/g-header.html')  %>
    </div>

    <div class="grid-body">
      <%= require('html-loader!./index/index-hero.html')  %>
    </div>

    <div class="grid-footer"></div>

  </div>

</body>

</html>